@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #203075;
}

:root {
  --switch-bg: rgb(135, 150, 165);
  --switch-width: 48px;
  --switch-height: 20px;
  --circle-diameter: 32px;
  --circle-bg: rgb(0, 56, 146);
  --circle-inset: calc((var(--circle-diameter) - var(--switch-height)) / 2);
}

@-webkit-keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}

@keyframes animate {
  0% {
    transform: scale(0) translateY(-90px) rotate(360deg);
    opacity: 1;
  }
  100% {
    transform: scale(1.3) translateY(-90px) rotate(-180deg);
    border-radius: 50%;
    opacity: 0;
  }
}
body {
  background-color: #fff;
  transition: background-color 1.2s;
}
body.error {
  background-color: #203075;
  position: relative;
  overflow: hidden;
  height: 100vh;
}
body.error .particle {
  position: absolute;
  display: block;
  pointer-events: none;
  color: #fff;
}
body.error .particle:nth-child(1) {
  top: 79.2270531401%;
  left: 96.3035019455%;
  font-size: 28px;
  filter: blur(0.02px);
  -webkit-animation: 30s float2 infinite;
          animation: 30s float2 infinite;
}
body.error .particle:nth-child(2) {
  top: 3.8929440389%;
  left: 65.5577299413%;
  font-size: 22px;
  filter: blur(0.04px);
  -webkit-animation: 32s float2 infinite;
          animation: 32s float2 infinite;
}
body.error .particle:nth-child(3) {
  top: 50.9179926561%;
  left: 54.0806293019%;
  font-size: 17px;
  filter: blur(0.06px);
  -webkit-animation: 38s float infinite;
          animation: 38s float infinite;
}
body.error .particle:nth-child(4) {
  top: 73.607748184%;
  left: 31.1890838207%;
  font-size: 26px;
  filter: blur(0.08px);
  -webkit-animation: 26s float infinite;
          animation: 26s float infinite;
}
body.error .particle:nth-child(5) {
  top: 50.6699147381%;
  left: 42.1155729677%;
  font-size: 21px;
  filter: blur(0.1px);
  -webkit-animation: 21s floatReverse infinite;
          animation: 21s floatReverse infinite;
}
body.error .particle:nth-child(6) {
  top: 19.680196802%;
  left: 79.9605133268%;
  font-size: 13px;
  filter: blur(0.12px);
  -webkit-animation: 34s float infinite;
          animation: 34s float infinite;
}
body.error .particle:nth-child(7) {
  top: 3.9167686659%;
  left: 81.6125860374%;
  font-size: 17px;
  filter: blur(0.14px);
  -webkit-animation: 37s float infinite;
          animation: 37s float infinite;
}
body.error .particle:nth-child(8) {
  top: 64.1555285541%;
  left: 58.651026393%;
  font-size: 23px;
  filter: blur(0.16px);
  -webkit-animation: 24s floatReverse infinite;
          animation: 24s floatReverse infinite;
}
body.error .particle:nth-child(9) {
  top: 40.5797101449%;
  left: 40.8560311284%;
  font-size: 28px;
  filter: blur(0.18px);
  -webkit-animation: 25s floatReverse infinite;
          animation: 25s floatReverse infinite;
}
body.error .particle:nth-child(10) {
  top: 10.615199035%;
  left: 79.6890184645%;
  font-size: 29px;
  filter: blur(0.2px);
  -webkit-animation: 23s floatReverse infinite;
          animation: 23s floatReverse infinite;
}
body.error .particle:nth-child(11) {
  top: 37.2093023256%;
  left: 32.4483775811%;
  font-size: 17px;
  filter: blur(0.22px);
  -webkit-animation: 37s float infinite;
          animation: 37s float infinite;
}
body.error .particle:nth-child(12) {
  top: 86.6995073892%;
  left: 5.9288537549%;
  font-size: 12px;
  filter: blur(0.24px);
  -webkit-animation: 26s float2 infinite;
          animation: 26s float2 infinite;
}
body.error .particle:nth-child(13) {
  top: 78.914919852%;
  left: 52.4233432245%;
  font-size: 11px;
  filter: blur(0.26px);
  -webkit-animation: 34s float2 infinite;
          animation: 34s float2 infinite;
}
body.error .particle:nth-child(14) {
  top: 27.0531400966%;
  left: 59.3385214008%;
  font-size: 28px;
  filter: blur(0.28px);
  -webkit-animation: 29s float2 infinite;
          animation: 29s float2 infinite;
}
body.error .particle:nth-child(15) {
  top: 85.0855745721%;
  left: 48.1335952849%;
  font-size: 18px;
  filter: blur(0.3px);
  -webkit-animation: 25s float2 infinite;
          animation: 25s float2 infinite;
}
body.error .particle:nth-child(16) {
  top: 93.2038834951%;
  left: 85.9375%;
  font-size: 24px;
  filter: blur(0.32px);
  -webkit-animation: 26s floatReverse2 infinite;
          animation: 26s floatReverse2 infinite;
}
body.error .particle:nth-child(17) {
  top: 71.4810281518%;
  left: 92.4287118977%;
  font-size: 17px;
  filter: blur(0.34px);
  -webkit-animation: 23s floatReverse infinite;
          animation: 23s floatReverse infinite;
}
body.error .particle:nth-child(18) {
  top: 95.3316953317%;
  left: 21.6962524655%;
  font-size: 14px;
  filter: blur(0.36px);
  -webkit-animation: 32s float2 infinite;
          animation: 32s float2 infinite;
}
body.error .particle:nth-child(19) {
  top: 71.6707021792%;
  left: 75.0487329435%;
  font-size: 26px;
  filter: blur(0.38px);
  -webkit-animation: 22s floatReverse2 infinite;
          animation: 22s floatReverse2 infinite;
}
body.error .particle:nth-child(20) {
  top: 9.696969697%;
  left: 75.1219512195%;
  font-size: 25px;
  filter: blur(0.4px);
  -webkit-animation: 30s floatReverse2 infinite;
          animation: 30s floatReverse2 infinite;
}
body.error .particle:nth-child(21) {
  top: 51.3939393939%;
  left: 23.4146341463%;
  font-size: 25px;
  filter: blur(0.42px);
  -webkit-animation: 32s floatReverse2 infinite;
          animation: 32s floatReverse2 infinite;
}
body.error .particle:nth-child(22) {
  top: 78.3555018138%;
  left: 36.0272638754%;
  font-size: 27px;
  filter: blur(0.44px);
  -webkit-animation: 25s floatReverse2 infinite;
          animation: 25s floatReverse2 infinite;
}
body.error .particle:nth-child(23) {
  top: 80.490797546%;
  left: 93.5960591133%;
  font-size: 15px;
  filter: blur(0.46px);
  -webkit-animation: 40s float2 infinite;
          animation: 40s float2 infinite;
}
body.error .particle:nth-child(24) {
  top: 29.3398533007%;
  left: 75.6385068762%;
  font-size: 18px;
  filter: blur(0.48px);
  -webkit-animation: 36s float2 infinite;
          animation: 36s float2 infinite;
}
body.error .particle:nth-child(25) {
  top: 11.7503059976%;
  left: 29.4985250737%;
  font-size: 17px;
  filter: blur(0.5px);
  -webkit-animation: 27s float2 infinite;
          animation: 27s float2 infinite;
}
body.error .particle:nth-child(26) {
  top: 76.6060606061%;
  left: 40.9756097561%;
  font-size: 25px;
  filter: blur(0.52px);
  -webkit-animation: 29s floatReverse2 infinite;
          animation: 29s floatReverse2 infinite;
}
body.error .particle:nth-child(27) {
  top: 55.6097560976%;
  left: 10.7843137255%;
  font-size: 20px;
  filter: blur(0.54px);
  -webkit-animation: 31s float infinite;
          animation: 31s float infinite;
}
body.error .particle:nth-child(28) {
  top: 84.1075794621%;
  left: 21.6110019646%;
  font-size: 18px;
  filter: blur(0.56px);
  -webkit-animation: 28s floatReverse2 infinite;
          animation: 28s floatReverse2 infinite;
}
body.error .particle:nth-child(29) {
  top: 50.6082725061%;
  left: 22.5048923679%;
  font-size: 22px;
  filter: blur(0.58px);
  -webkit-animation: 31s floatReverse2 infinite;
          animation: 31s floatReverse2 infinite;
}
body.error .particle:nth-child(30) {
  top: 65.9286592866%;
  left: 33.5636722606%;
  font-size: 13px;
  filter: blur(0.6px);
  -webkit-animation: 35s floatReverse infinite;
          animation: 35s floatReverse infinite;
}
body.error .particle:nth-child(31) {
  top: 58.9680589681%;
  left: 48.3234714004%;
  font-size: 14px;
  filter: blur(0.62px);
  -webkit-animation: 35s floatReverse infinite;
          animation: 35s floatReverse infinite;
}
body.error .particle:nth-child(32) {
  top: 98.2800982801%;
  left: 72.9783037475%;
  font-size: 14px;
  filter: blur(0.64px);
  -webkit-animation: 33s float2 infinite;
          animation: 33s float2 infinite;
}
body.error .particle:nth-child(33) {
  top: 73.8916256158%;
  left: 85.9683794466%;
  font-size: 12px;
  filter: blur(0.66px);
  -webkit-animation: 26s float2 infinite;
          animation: 26s float2 infinite;
}
body.error .particle:nth-child(34) {
  top: 78.431372549%;
  left: 46.2598425197%;
  font-size: 16px;
  filter: blur(0.68px);
  -webkit-animation: 37s floatReverse infinite;
          animation: 37s floatReverse infinite;
}
body.error .particle:nth-child(35) {
  top: 36.4532019704%;
  left: 6.9169960474%;
  font-size: 12px;
  filter: blur(0.7px);
  -webkit-animation: 37s floatReverse2 infinite;
          animation: 37s floatReverse2 infinite;
}
body.error .particle:nth-child(36) {
  top: 56.0196560197%;
  left: 3.9447731755%;
  font-size: 14px;
  filter: blur(0.72px);
  -webkit-animation: 30s float2 infinite;
          animation: 30s float2 infinite;
}
body.error .particle:nth-child(37) {
  top: 16.5651644336%;
  left: 94.0254652302%;
  font-size: 21px;
  filter: blur(0.74px);
  -webkit-animation: 25s float2 infinite;
          animation: 25s float2 infinite;
}
body.error .particle:nth-child(38) {
  top: 79.5151515152%;
  left: 81.9512195122%;
  font-size: 25px;
  filter: blur(0.76px);
  -webkit-animation: 31s floatReverse infinite;
          animation: 31s floatReverse infinite;
}
body.error .particle:nth-child(39) {
  top: 53.8555691554%;
  left: 12.7826941986%;
  font-size: 17px;
  filter: blur(0.78px);
  -webkit-animation: 34s floatReverse infinite;
          animation: 34s floatReverse infinite;
}
body.error .particle:nth-child(40) {
  top: 9.6735187424%;
  left: 15.5793573515%;
  font-size: 27px;
  filter: blur(0.8px);
  -webkit-animation: 22s floatReverse2 infinite;
          animation: 22s floatReverse2 infinite;
}
body.error .particle:nth-child(41) {
  top: 60.7961399276%;
  left: 23.3236151603%;
  font-size: 29px;
  filter: blur(0.82px);
  -webkit-animation: 35s float infinite;
          animation: 35s float infinite;
}
body.error .particle:nth-child(42) {
  top: 41.0256410256%;
  left: 26.4965652601%;
  font-size: 19px;
  filter: blur(0.84px);
  -webkit-animation: 38s float infinite;
          animation: 38s float infinite;
}
body.error .particle:nth-child(43) {
  top: 17.7121771218%;
  left: 58.2428430405%;
  font-size: 13px;
  filter: blur(0.86px);
  -webkit-animation: 39s float2 infinite;
          animation: 39s float2 infinite;
}
body.error .particle:nth-child(44) {
  top: 60.7843137255%;
  left: 87.5984251969%;
  font-size: 16px;
  filter: blur(0.88px);
  -webkit-animation: 26s floatReverse2 infinite;
          animation: 26s floatReverse2 infinite;
}
body.error .particle:nth-child(45) {
  top: 94.4649446494%;
  left: 51.3326752221%;
  font-size: 13px;
  filter: blur(0.9px);
  -webkit-animation: 22s floatReverse2 infinite;
          animation: 22s floatReverse2 infinite;
}
body.error .particle:nth-child(46) {
  top: 9.6385542169%;
  left: 13.5922330097%;
  font-size: 30px;
  filter: blur(0.92px);
  -webkit-animation: 25s floatReverse infinite;
          animation: 25s floatReverse infinite;
}
body.error .particle:nth-child(47) {
  top: 76.4207980653%;
  left: 78.870496592%;
  font-size: 27px;
  filter: blur(0.94px);
  -webkit-animation: 40s floatReverse infinite;
          animation: 40s floatReverse infinite;
}
body.error .particle:nth-child(48) {
  top: 61.985472155%;
  left: 37.037037037%;
  font-size: 26px;
  filter: blur(0.96px);
  -webkit-animation: 34s floatReverse infinite;
          animation: 34s floatReverse infinite;
}
body.error .particle:nth-child(49) {
  top: 50.8557457213%;
  left: 5.8939096267%;
  font-size: 18px;
  filter: blur(0.98px);
  -webkit-animation: 37s floatReverse infinite;
          animation: 37s floatReverse infinite;
}
body.error .particle:nth-child(50) {
  top: 68.7960687961%;
  left: 91.7159763314%;
  font-size: 14px;
  filter: blur(1px);
  -webkit-animation: 37s float infinite;
          animation: 37s float infinite;
}
body.error .particle:nth-child(51) {
  top: 86.1689106487%;
  left: 1.9665683382%;
  font-size: 17px;
  filter: blur(1.02px);
  -webkit-animation: 25s float infinite;
          animation: 25s float infinite;
}
body.error .particle:nth-child(52) {
  top: 70.7616707617%;
  left: 40.4339250493%;
  font-size: 14px;
  filter: blur(1.04px);
  -webkit-animation: 29s float infinite;
          animation: 29s float infinite;
}
body.error .particle:nth-child(53) {
  top: 4.8250904704%;
  left: 55.3935860058%;
  font-size: 29px;
  filter: blur(1.06px);
  -webkit-animation: 29s floatReverse2 infinite;
          animation: 29s floatReverse2 infinite;
}
body.error .particle:nth-child(54) {
  top: 91.8192918193%;
  left: 9.8135426889%;
  font-size: 19px;
  filter: blur(1.08px);
  -webkit-animation: 28s float infinite;
          animation: 28s float infinite;
}
body.error .particle:nth-child(55) {
  top: 34.3558282209%;
  left: 72.9064039409%;
  font-size: 15px;
  filter: blur(1.1px);
  -webkit-animation: 23s floatReverse2 infinite;
          animation: 23s floatReverse2 infinite;
}
body.error .particle:nth-child(56) {
  top: 68.8806888069%;
  left: 57.2556762093%;
  font-size: 13px;
  filter: blur(1.12px);
  -webkit-animation: 27s floatReverse2 infinite;
          animation: 27s floatReverse2 infinite;
}
body.error .particle:nth-child(57) {
  top: 47.1165644172%;
  left: 85.7142857143%;
  font-size: 15px;
  filter: blur(1.14px);
  -webkit-animation: 32s float infinite;
          animation: 32s float infinite;
}
body.error .particle:nth-child(58) {
  top: 23.6162361624%;
  left: 76.011846002%;
  font-size: 13px;
  filter: blur(1.16px);
  -webkit-animation: 25s floatReverse infinite;
          animation: 25s floatReverse infinite;
}
body.error .particle:nth-child(59) {
  top: 23.5582822086%;
  left: 31.5270935961%;
  font-size: 15px;
  filter: blur(1.18px);
  -webkit-animation: 32s float infinite;
          animation: 32s float infinite;
}
body.error .particle:nth-child(60) {
  top: 25.5528255528%;
  left: 58.1854043393%;
  font-size: 14px;
  filter: blur(1.2px);
  -webkit-animation: 32s floatReverse infinite;
          animation: 32s floatReverse infinite;
}
body.error .particle:nth-child(61) {
  top: 50.7317073171%;
  left: 35.2941176471%;
  font-size: 20px;
  filter: blur(1.22px);
  -webkit-animation: 33s float infinite;
          animation: 33s float infinite;
}
body.error .particle:nth-child(62) {
  top: 72.1071863581%;
  left: 54.8481880509%;
  font-size: 21px;
  filter: blur(1.24px);
  -webkit-animation: 33s float2 infinite;
          animation: 33s float2 infinite;
}
body.error .particle:nth-child(63) {
  top: 52.6187576127%;
  left: 50.930460333%;
  font-size: 21px;
  filter: blur(1.26px);
  -webkit-animation: 22s float2 infinite;
          animation: 22s float2 infinite;
}
body.error .particle:nth-child(64) {
  top: 29.5566502463%;
  left: 14.8221343874%;
  font-size: 12px;
  filter: blur(1.28px);
  -webkit-animation: 34s float2 infinite;
          animation: 34s float2 infinite;
}
body.error .particle:nth-child(65) {
  top: 11.6504854369%;
  left: 63.4765625%;
  font-size: 24px;
  filter: blur(1.3px);
  -webkit-animation: 37s float infinite;
          animation: 37s float infinite;
}
body.error .particle:nth-child(66) {
  top: 49.0196078431%;
  left: 95.4724409449%;
  font-size: 16px;
  filter: blur(1.32px);
  -webkit-animation: 21s floatReverse infinite;
          animation: 21s floatReverse infinite;
}
body.error .particle:nth-child(67) {
  top: 30.1703163017%;
  left: 62.6223091977%;
  font-size: 22px;
  filter: blur(1.34px);
  -webkit-animation: 30s floatReverse2 infinite;
          animation: 30s floatReverse2 infinite;
}
body.error .particle:nth-child(68) {
  top: 7.7575757576%;
  left: 19.512195122%;
  font-size: 25px;
  filter: blur(1.36px);
  -webkit-animation: 27s floatReverse2 infinite;
          animation: 27s floatReverse2 infinite;
}
body.error .particle:nth-child(69) {
  top: 16.5048543689%;
  left: 44.921875%;
  font-size: 24px;
  filter: blur(1.38px);
  -webkit-animation: 23s floatReverse infinite;
          animation: 23s floatReverse infinite;
}
body.error .particle:nth-child(70) {
  top: 10.8374384236%;
  left: 61.2648221344%;
  font-size: 12px;
  filter: blur(1.4px);
  -webkit-animation: 26s float2 infinite;
          animation: 26s float2 infinite;
}
body.error .particle:nth-child(71) {
  top: 60.024600246%;
  left: 65.1530108588%;
  font-size: 13px;
  filter: blur(1.42px);
  -webkit-animation: 30s floatReverse infinite;
          animation: 30s floatReverse infinite;
}
body.error .particle:nth-child(72) {
  top: 12.823674476%;
  left: 90.9990108803%;
  font-size: 11px;
  filter: blur(1.44px);
  -webkit-animation: 32s floatReverse2 infinite;
          animation: 32s floatReverse2 infinite;
}
body.error .particle:nth-child(73) {
  top: 24.3605359318%;
  left: 13.7120470127%;
  font-size: 21px;
  filter: blur(1.46px);
  -webkit-animation: 27s float infinite;
          animation: 27s float infinite;
}
body.error .particle:nth-child(74) {
  top: 32.4324324324%;
  left: 51.2820512821%;
  font-size: 14px;
  filter: blur(1.48px);
  -webkit-animation: 25s float2 infinite;
          animation: 25s float2 infinite;
}
body.error .particle:nth-child(75) {
  top: 52.3636363636%;
  left: 86.8292682927%;
  font-size: 25px;
  filter: blur(1.5px);
  -webkit-animation: 28s floatReverse2 infinite;
          animation: 28s floatReverse2 infinite;
}
body.error .particle:nth-child(76) {
  top: 29.0909090909%;
  left: 9.756097561%;
  font-size: 25px;
  filter: blur(1.52px);
  -webkit-animation: 37s floatReverse infinite;
          animation: 37s floatReverse infinite;
}
body.error .particle:nth-child(77) {
  top: 93.7198067633%;
  left: 81.7120622568%;
  font-size: 28px;
  filter: blur(1.54px);
  -webkit-animation: 40s float2 infinite;
          animation: 40s float2 infinite;
}
body.error .particle:nth-child(78) {
  top: 72.5513905683%;
  left: 12.6582278481%;
  font-size: 27px;
  filter: blur(1.56px);
  -webkit-animation: 30s float2 infinite;
          animation: 30s float2 infinite;
}
body.error .particle:nth-child(79) {
  top: 63.1834750911%;
  left: 80.156402737%;
  font-size: 23px;
  filter: blur(1.58px);
  -webkit-animation: 26s floatReverse2 infinite;
          animation: 26s floatReverse2 infinite;
}
body.error .particle:nth-child(80) {
  top: 77.7642770352%;
  left: 53.7634408602%;
  font-size: 23px;
  filter: blur(1.6px);
  -webkit-animation: 21s float2 infinite;
          animation: 21s float2 infinite;
}
@-webkit-keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes apparition {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@-webkit-keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(180px);
  }
}
@-webkit-keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@keyframes floatReverse {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-180px);
  }
}
@-webkit-keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(28px);
  }
}
@-webkit-keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
@keyframes floatReverse2 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-28px);
  }
}
body.error .section {
  text-align: center;
  padding: 4rem 2rem;
}
body.error .section .error {
  font-size: 150px;
  color: #fff;
  text-shadow: 1px 1px 1px #142850, 2px 2px 1px #142850, 3px 3px 1px #142850, 4px 4px 1px #142850, 5px 5px 1px #142850, 6px 6px 1px #142850, 7px 7px 1px #142850, 8px 8px 1px #142850, 25px 25px 8px rgba(0, 0, 0, 0.2);
}
@media (max-width: 280px) {
  body.error .section .error {
    font-size: 100px;
  }
}
body.error .section .page {
  margin-block: 2rem;
  font: 400 20px "Heebo";
  font-size: 20px;
  color: #fffcf4;
}
body.error .section .back-home {
  border: 1px solid #FF6464;
  color: #fff;
  font: 20px "Heebo";
  background-color: #FF6464;
  text-transform: uppercase;
  padding: 9px 21px;
  transition: all 0.2s linear;
  display: inline-block;
}
body.error .section .back-home:hover {
  background: #fff;
  color: #FF6464;
}
body.error footer {
  position: absolute;
  bottom: 0;
}
body.error footer .social-links svg {
  fill: #fff;
}
body.error footer p {
  color: #fff;
}
body.dark {
  background-color: #21243D;
}
body.dark img {
  color: #EDF7FA;
}
body.dark .box .animate {
  border: 6px solid #fff;
}
body.dark header {
  background-color: transparent;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}
body.dark header .header-container {
  background-color: transparent;
  -webkit-backdrop-filter: blur(35px);
          backdrop-filter: blur(35px);
}
body.dark header .header-container .burger .line {
  background-color: #EDF7FA;
}
body.dark header a.logo {
  color: #fff;
}
body.dark header nav ul li a {
  color: #EDF7FA;
}
body.dark #particles-js .text h1, body.dark #particles-js .text p {
  color: #EDF7FA;
}
body.dark section.posts {
  background-color: #142850;
}
body.dark section.posts .recent p {
  color: #EDF7FA;
}
body.dark section.posts .container .info .info-item {
  background-color: #21243D;
}
body.dark section.posts .container .info .info-item h3, body.dark section.posts .container .info .info-item p {
  color: #fff;
}
body.dark section.posts .container .info .info-item .line {
  background-color: #fff;
}
body.dark section.works .works-text p, body.dark section.works .works-text h1 {
  color: #EDF7FA;
}
body.dark section.works .card .card-body h2, body.dark section.works .card .card-body p {
  color: #fff;
}
body.dark section.blog h1, body.dark section.blog h2 {
  color: #EDF7FA;
}
body.dark section.blog p, body.dark section.blog .card .text p:nth-child(1) {
  color: #fff;
}
body.dark section.blog .line {
  background-color: #fff;
}
body.dark footer .social-links svg {
  fill: #fff;
}
body.dark footer p {
  color: #EDF7FA;
}

.ui-switch .slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: var(--switch-width);
  height: var(--switch-height);
  background-color: var(--switch-bg);
  border-radius: 999px;
  position: relative;
  cursor: pointer;
  z-index: 1;
}
@media (max-width: 860px) {
  .ui-switch .slider {
    position: absolute;
  }
}
@media (max-width: 768px) {
  .ui-switch .slider {
    left: calc(100% - 72px);
    bottom: 17px;
  }
}
.ui-switch .slider .circle {
  top: calc(var(--circle-inset) * -1);
  left: 0;
  width: var(--circle-diameter);
  height: var(--circle-diameter);
  position: absolute;
  background-color: var(--circle-bg);
  border-radius: inherit;
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTkuMzA1IDEuNjY3VjMuNzVoMS4zODlWMS42NjdoLTEuMzl6bS00LjcwNyAxLjk1bC0uOTgyLjk4Mkw1LjA5IDYuMDcybC45ODItLjk4Mi0xLjQ3My0xLjQ3M3ptMTAuODAyIDBMMTMuOTI3IDUuMDlsLjk4Mi45ODIgMS40NzMtMS40NzMtLjk4Mi0uOTgyek0xMCA1LjEzOWE0Ljg3MiA0Ljg3MiAwIDAwLTQuODYyIDQuODZBNC44NzIgNC44NzIgMCAwMDEwIDE0Ljg2MiA0Ljg3MiA0Ljg3MiAwIDAwMTQuODYgMTAgNC44NzIgNC44NzIgMCAwMDEwIDUuMTM5em0wIDEuMzg5QTMuNDYyIDMuNDYyIDAgMDExMy40NzEgMTBhMy40NjIgMy40NjIgMCAwMS0zLjQ3MyAzLjQ3MkEzLjQ2MiAzLjQ2MiAwIDAxNi41MjcgMTAgMy40NjIgMy40NjIgMCAwMTEwIDYuNTI4ek0xLjY2NSA5LjMwNXYxLjM5aDIuMDgzdi0xLjM5SDEuNjY2em0xNC41ODMgMHYxLjM5aDIuMDg0di0xLjM5aC0yLjA4NHpNNS4wOSAxMy45MjhMMy42MTYgMTUuNGwuOTgyLjk4MiAxLjQ3My0xLjQ3My0uOTgyLS45ODJ6bTkuODIgMGwtLjk4Mi45ODIgMS40NzMgMS40NzMuOTgyLS45ODItMS40NzMtMS40NzN6TTkuMzA1IDE2LjI1djIuMDgzaDEuMzg5VjE2LjI1aC0xLjM5eiIgLz4KPC9zdmc+");
  background-repeat: no-repeat;
  background-position: center center;
  transition: left 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 150ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, background-color-image 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.ui-switch .slider .circle::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: inherit;
  transition: all 500ms;
  opacity: 0;
}
.ui-switch .slider .circle:active .circle:before {
  transition: 0s;
  opacity: 1;
  width: 0;
  height: 0;
}
.ui-switch.active .slider .circle {
  left: calc(100% - var(--circle-diameter));
  background-image: url("data:image/svg+xml;base64, PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMjAiIHdpZHRoPSIyMCIgdmlld0JveD0iMCAwIDIwIDIwIj4KICAgIDxwYXRoIGZpbGw9IiNmZmYiCiAgICAgICAgZD0iTTQuMiAyLjVsLS43IDEuOC0xLjguNyAxLjguNy43IDEuOC42LTEuOEw2LjcgNWwtMS45LS43LS42LTEuOHptMTUgOC4zYTYuNyA2LjcgMCAxMS02LjYtNi42IDUuOCA1LjggMCAwMDYuNiA2LjZ6IiAvPgo8L3N2Zz4=");
}

.container {
  width: min(100%, 856px);
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

img {
  font: 400 18px "Heebo";
  transition: color 0.5s;
  color: #21243D;
}

header {
  width: 100%;
  height: 80px;
  transition: height 0.5s, background-color 1.2s, top 0.5s;
  position: fixed;
  z-index: 9999;
  background-color: #fff;
  top: 0;
}
header.show {
  height: 220px;
}
@media (min-width: 861px) {
  header.show {
    height: 80px;
  }
}
header.show .header-container {
  background: none;
  transition: background-color 1.2s;
}
@media (min-width: 861px) {
  header.show .header-container {
    height: 80px;
  }
}
header.show .header-container nav {
  height: 140px;
}
@media (min-width: 861px) {
  header.show .header-container nav {
    height: 80px;
  }
}
header .header-container {
  width: min(100%, 856px);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  transition: height 0.5s;
  background-color: #fff;
}
@media (max-width: 860px) {
  header .header-container {
    padding: 0 30px;
    align-items: start;
  }
}
@media (max-width: 800px) {
  header .header-container {
    padding: 0 20px;
  }
}
@media (max-width: 768px) {
  header .header-container {
    padding: 0 10px;
  }
}
header .header-container .burger {
  display: none;
}
@media (max-width: 860px) {
  header .header-container .burger {
    position: relative;
    width: 40px;
    cursor: pointer;
    display: block;
    height: 34px;
    transform: scale(0.7);
    top: 23px;
  }
}
header .header-container .burger .line {
  position: absolute;
  left: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: #21243D;
  transition: background-color 1.2s, all 0.5s;
}
header .header-container .burger .line:nth-child(1) {
  bottom: calc(50% + 11px + 2px);
  transition-property: bottom, transform;
  transition-delay: 0.21s;
}
header .header-container .burger .line:nth-child(2) {
  top: calc(50% - 2px);
  transition-property: opacity, transform;
  transition-delay: 0.105s;
}
header .header-container .burger .line:nth-child(3) {
  top: calc(50% + 11px + 2px);
  transition-property: top, transform;
  transition-delay: 0s;
}
header .header-container .burger.open .line:nth-child(1) {
  transform: rotate(-135deg);
  transition-delay: 0s;
  bottom: calc(50% - 2px);
}
header .header-container .burger.open .line:nth-child(2) {
  opacity: 0;
  transform: rotate(-135deg);
  transition-delay: 0.105s;
}
header .header-container .burger.open .line {
  top: calc(50% - 2px);
  transform: rotate(-225deg);
  transition-delay: 0.21s;
}
header .header-container a.logo {
  font: 700 37px "Heebo";
  color: #21243D;
  display: block;
  transition: color 1.2s;
}
@media (max-width: 860px) {
  header .header-container a.logo {
    margin-top: 13px;
  }
}
header .header-container nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
@media (max-width: 860px) {
  header .header-container nav {
    position: absolute;
    top: 80px;
    transition: height 0.5s;
    display: block;
    height: 0;
    overflow: hidden;
  }
}
header .header-container nav ul {
  display: flex;
  align-items: center;
  margin: auto;
}
@media (max-width: 860px) {
  header .header-container nav ul {
    display: block;
    line-height: 45px;
  }
}
header .header-container nav ul li a {
  color: #000;
  font: 500 21px "Heebo";
  padding: 0 10px;
  display: block;
  margin: 0 23px;
  transition: color 1.2s;
}
@media (max-width: 860px) {
  header .header-container nav ul li a {
    display: inline;
    margin: 0;
    padding: 0;
  }
}
header .header-container nav ul li a:hover, header .header-container nav ul li a.active {
  color: #FF6464;
}

#particles-js {
  position: relative;
  height: 630px;
}
@media (max-width: 770px) {
  #particles-js {
    height: 110vh;
  }
}
#particles-js .container {
  justify-content: space-between;
  top: 130px;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}
@media (min-width: 771px) and (max-width: 856px) {
  #particles-js .container {
    justify-content: space-around;
  }
}
@media (max-width: 770px) {
  #particles-js .container {
    flex-direction: column;
  }
}
#particles-js .text {
  color: #21243D;
  width: min(100%, 506px);
}
@media (max-width: 770px) {
  #particles-js .text {
    text-align: center;
    margin: auto;
  }
}
#particles-js .text h1, #particles-js .text p {
  transition: 1.2s;
}
#particles-js .text h1 {
  font: 700 44px/60px "Heebo";
  width: min(100%, 506px);
}
@media (max-width: 440px) {
  #particles-js .text h1 {
    padding-inline: 10px;
  }
}
#particles-js .text p {
  font: 400 16px "Heebo";
  width: min(100%, 497px);
  padding: 40px 0 38px;
  transition-delay: 0.3s;
}
@media (max-width: 770px) {
  #particles-js .text p {
    padding-inline: 10px;
  }
}
#particles-js .text a {
  padding: 9px 21px 9px;
  color: #fff;
  font: 500 20px "Heebo";
  border-radius: 2px;
  background-color: #FF6464;
  transition-delay: 0.5s;
  display: inline-block;
}
#particles-js img {
  width: 243px;
  height: 243px;
}
@media (max-width: 770px) {
  #particles-js img {
    margin: 50px auto;
  }
}

section.posts {
  background-color: #EDF7FA;
  -webkit-padding-after: 32px;
          padding-block-end: 32px;
  transition: background-color 0.5s;
}
section.posts .container .recent {
  width: 100%;
  height: 69px;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 860px) {
  section.posts .container .recent {
    padding-inline: 30px;
  }
}
@media (max-width: 800px) {
  section.posts .container .recent {
    padding-inline: 20px;
  }
}
@media (max-width: 768px) {
  section.posts .container .recent {
    padding-inline: 10px;
  }
}
section.posts .container .recent p {
  color: #21243D;
  font: 400 22px/60px "Heebo";
  transition: 1.2s;
}
section.posts .container .recent a {
  color: #00A8CC;
  font: 400 16px "Heebo";
  transition: 1.2s;
}
section.posts .container .info {
  display: flex;
  gap: 0 20px;
  flex-wrap: wrap;
}
section.posts .container .info p {
  color: #21243D;
  font: 400 18px "Heebo";
}
section.posts .container .info .info-item {
  padding: 24px 21px 24px 23px;
  width: min(100%, 418px);
  background-color: #fff;
  transition: 1.2s;
}
section.posts .container .info .info-item:nth-child(2) {
  transition-delay: 0.3s;
}
@media (max-width: 855px) {
  section.posts .container .info .info-item {
    margin: auto;
  }
}
section.posts .container .info .info-item h3, section.posts .container .info .info-item p {
  transition: color 1.2s;
}
section.posts .container .info .info-item h3 {
  color: #21243D;
  font: 700 26px "Heebo";
}
section.posts .container .info .info-item .text {
  display: flex;
  gap: 0 25px;
  height: 34px;
  align-items: center;
  flex-wrap: wrap;
}
section.posts .container .info .info-item .text .line {
  margin-block: 10px;
  width: 1px;
  height: 20px;
  background-color: #21243D;
  transition: background-color 0.5s;
}
@media (max-width: 800px) {
  section.works .works-text {
    padding-inline: 20px;
  }
}
@media (max-width: 653px) {
  section.works .works-text {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
section.works .works-text h1, section.works .works-text p {
  transition: color 1.2s;
}
section.works .works-text p {
  padding-block: 17px;
  color: #21243D;
  font: 400 22px/60px "Heebo";
}
section.works .works-text h1 {
  color: #21243D;
  margin-bottom: 25px;
  font: 900 44px/60px "Heebo";
}
section.works .card {
  display: flex;
  -webkit-margin-after: 46px;
          margin-block-end: 46px;
  flex-wrap: wrap;
}
section.works .card:nth-of-type(2), section.works .card:nth-of-type(3) {
  transition-delay: 0.3s;
}
@media (max-width: 653px) {
  section.works .card img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 856px) {
  section.works .card {
    width: calc(100% - 60px);
    margin: auto;
    -webkit-margin-after: 30px;
            margin-block-end: 30px;
  }
}
@media (max-width: 800px) {
  section.works .card {
    width: calc(100% - 40px);
  }
}
@media (max-width: 768px) {
  section.works .card {
    width: calc(100% - 20px);
  }
}
@media (max-width: 575px) {
  section.works .card {
    width: 85%;
    margin: auto auto 30px;
  }
}
section.works .card .card-body {
  -webkit-padding-start: 16px;
          padding-inline-start: 16px;
  width: min(100%, 594px);
}
@media (min-width: 654px) and (max-width: 855px) {
  section.works .card .card-body {
    width: calc(100% - 276px);
  }
}
@media (max-width: 653px) {
  section.works .card .card-body {
    padding: 0;
    width: 100%;
  }
}
section.works .card .card-body h2, section.works .card .card-body p {
  transition: color 1.2s;
}
section.works .card .card-body h2 {
  color: #21243D;
  font: 700 30px "Heebo";
}
section.works .card .card-body .text {
  display: flex;
  gap: 0 20px;
  align-items: center;
  margin-block: 17px;
  flex-wrap: wrap;
}
section.works .card .card-body .text b {
  padding-inline: 10px;
  border-radius: 16px;
  background-color: #142850;
  color: #fff;
  font: 900 18px "Heebo";
  letter-spacing: 1px;
}
section.works .card .card-body .text p {
  color: #8695A4;
  font: 400 20px "Heebo";
}
section.works .card .card-body p {
  color: #21243D;
  font: 400 16px "Heebo";
}
section.blog .card {
  -webkit-margin-after: 60px;
          margin-block-end: 60px;
}
@media (max-width: 860px) {
  section.blog .card {
    padding-inline: 30px;
  }
}
@media (max-width: 800px) {
  section.blog .card {
    padding-inline: 20px;
  }
}
@media (max-width: 768px) {
  section.blog .card {
    padding-inline: 10px;
  }
}
section.blog h1 {
  color: #21243D;
  font: 700 44px/60px "Heebo";
}
@media (max-width: 860px) {
  section.blog h1 {
    padding-inline: 30px;
  }
}
@media (max-width: 800px) {
  section.blog h1 {
    padding-inline: 20px;
  }
}
@media (max-width: 768px) {
  section.blog h1 {
    padding-inline: 10px;
  }
}
section.blog h1, section.blog h2, section.blog .line, section.blog p {
  transition: 1.2s;
}
section.blog h2 {
  color: #21243D;
  font: 500 30px "Heebo";
}
section.blog .text {
  display: flex;
  flex-wrap: wrap;
  gap: 0 15px;
  align-items: center;
  margin-block: 6px;
}
section.blog .text .line {
  width: 1px;
  height: 21px;
  background: #21243D;
}
section.blog .text p {
  font: 400 20px "Heebo";
  width: auto;
}
section.blog .text p:nth-child(1) {
  color: #21243D;
}
section.blog .text p:nth-of-type(2) {
  color: #8695A4;
  transition: none;
}
section.blog p {
  color: #21243D;
  font: 400 16px "Heebo";
  width: min(100%, 682px);
}

footer {
  width: 100%;
}
footer .text-center {
  padding: 51px 0 54px;
  text-align: center;
}
footer .text-center .social-links {
  display: flex;
  gap: 0 35px;
  justify-content: center;
}
footer .text-center .social-links svg {
  fill: #21243D;
  transition: fill 1.2s;
}
footer .text-center p {
  color: #21243D;
  font: 400 14px "Heebo";
  -webkit-padding-before: 26px;
          padding-block-start: 26px;
  transition: color 1.2s;
}

.box {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding-top: 170px;
}
.box div.animate {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid #21243D;
  transition: border 0.5s;
}
.box div.animate:nth-child(1) {
  top: 12%;
  left: 42%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}
.box div.animate:nth-child(2) {
  top: 70%;
  left: 50%;
  -webkit-animation: animate 7s linear infinite;
          animation: animate 7s linear infinite;
}
.box div.animate:nth-child(3) {
  top: 17%;
  left: 6%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
}
.box div.animate:nth-child(4) {
  top: 20%;
  left: 60%;
  -webkit-animation: animate 10s linear infinite;
          animation: animate 10s linear infinite;
}
.box div.animate:nth-child(5) {
  top: 67%;
  left: 10%;
  -webkit-animation: animate 6s linear infinite;
          animation: animate 6s linear infinite;
}
.box div.animate:nth-child(6) {
  top: 80%;
  left: 70%;
  -webkit-animation: animate 12s linear infinite;
          animation: animate 12s linear infinite;
}
.box div.animate:nth-child(7) {
  top: 60%;
  left: 80%;
  -webkit-animation: animate 15s linear infinite;
          animation: animate 15s linear infinite;
}
.box div.animate:nth-child(8) {
  top: 32%;
  left: 25%;
  -webkit-animation: animate 16s linear infinite;
          animation: animate 16s linear infinite;
}
.box div.animate:nth-child(9) {
  top: 90%;
  left: 25%;
  -webkit-animation: animate 9s linear infinite;
          animation: animate 9s linear infinite;
}
.box div.animate:nth-child(10) {
  top: 20%;
  left: 80%;
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}/*# sourceMappingURL=main.css.map */